@import "seattletimes";

@wsu-crimson: #981e32;

body {

}
main {
  .headline {
    text-align: center;
    font-size: 60px;
    font-family: 'Paytone One', sans-serif;
  }

  .chatter {
    text-align: center;
    font-size: 20px;
    margin-bottom: 40px;
    font-family: 'Paytone One', sans-serif;
  }
}

.container {
  .display-flex();
  justify-content: center;

  @media @mobile {
    display: block;
  }
}

.schedule {
  .flex(1);
  position: relative;
  max-width: 700px;
  margin-right: 20px;
  margin-left: 40px;
  cursor: pointer;
  font-family: 'Paytone One', sans-serif;
  color: black;
}

.games {
  list-style: none;
  .logo {
    height: 80px;
  }
  .logo.prediction {
    height: 25px;
  }
}

.meta {
  .display-flex();
  justify-content:space-around;
  box-shadow:
    0 20px 20px 0 fade(black, 30%),
    0 6px 8px -4px fade(black, 10%);
  border: 1px solid @df-light-gray;
}

.info {
  padding-top: 10px;
}

.images {
  .display-flex();
  justify-content: center;
  padding-bottom: 20px;
  text-align: center;
  padding-top: 10px;

  .location-container {
    .display-flex();
    align-items: center;
    padding: 25px;
    font-size: 30px;
  }

  img:hover {
      opacity: 0.7;
      filter: alpha(opacity=40);
  }

  img {
      opacity: 1.0;
      filter: alpha(opacity=100);
  }

  .home:hover, .away:hover {
    font-weight: bold;
  }
}

.predictions {
  display: none;

  .show-predictions & {
    display: block;
    background: @df-off-white;
    padding-top: 5px;
    padding-left: 5px;
    box-shadow:
      0 20px 25px 0 fade(black, 30%),
      0 6px 8px -4px fade(black, 10%);
    border: 1px solid @df-light-gray;
  }

  .experts {
    .display-flex();
    justify-content: flex-start;

    .experts-box {
      // background-color: @df-middle-gray;
      // : none;
      padding: 5px 16px;
      color: black;
      margin-bottom: 7px;
      margin-right: 5px;
      text-decoration: none;
      display: inline-block;
      text-align: center;
      font-size: 14px;
      height: 40px;
      -radius: 4px;
    }
  }
}

.user-pick {
  height: 40px;
}

.info {
  font-size: 23px;
}

.tooltip {
  display: block;
  height: 500px;
  width: 400px;
  background-color: @df-off-white;
  -radius: 4px;
  position: sticky; top: 50px;
  margin-top: 20px;
  font-family: 'Paytone One', sans-serif;
  color:black;
  box-shadow:
    0 20px 52px 0 fade(black, 30%),
    0 6px 8px -4px fade(black, 10%);
  border: 1px solid @df-light-gray;

  h1 {
    text-align: center;
  }

  .summary {
    padding-left: 10px;
    font-size: 23px;
  }
  .summary.experts{
    background-color: @df-light-gray;
    cursor: pointer;
    padding: 5px 16px;
    color: black;
    margin-bottom: 7px;
    margin-right: 5px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    font-size: 19px;
    height: 40px;
    border-radius: 4px;
    margin-left: 10px;
    margin-top: 10px;
  }

  .hidden.predictions{
    display: block;
    margin-left: 10px;
  }
}

.row {
  background: @df-off-white;
  margin-bottom: 40px;
}
