@import "seattletimes";

@wsu-crimson: #981e32;

body {

}
main {
  .headline {
    text-align: center;
    font-size: 70px;
    font-family: 'Paytone One', sans-serif;
    color: @wsu-crimson;
    margin-bottom: 0px;

    @media @mobile {
      font-size: 30px;
    }
  }

  .subhead {
    text-align: center;
    font-size: 40px;
    font-family: 'Paytone One', sans-serif;
    color: @df-middle-gray;

    @media @mobile {
      font-size: 20px;
    }
  }

  .chatter {
    text-align: center;
    font-size: 20px;
    margin-bottom: 40px;
    font-family: 'Paytone One', sans-serif;
    color: black;
  }
}

.outer {
  .display-flex();
  justify-content: center;

  @media @tablet {
    display: block;
  }
}

.container {
  .display-flex();
  justify-content: center;
  max-width: 1024px;
  padding: 20px;

  @media @tablet {
    display: block;
  }
}

.row {
  @media @mobile {
    width: 100%;
  }
}

.schedule {
  .flex(1);
  position: relative;
  flex: 1 1 700px;
  margin-right: 20px;
  cursor: pointer;
  font-family: 'Paytone One', sans-serif;
  color: black;

  @media @tablet {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.games {
  list-style: none;
  padding-left: 0px;

  @media @tablet {
    padding-left: 0px;
  }
  .logo {
    height: 80px;

    @media @mobile {
      height: 60px;
    }
  }
  .logo.prediction {
    height: 25px;
  }
}

.meta {
  .display-flex();
  justify-content:space-around;
  box-shadow:
    0 20px 20px 0 fade(black, 30%),
    0 6px 8px -4px fade(black, 10%);
  border: 1px solid @df-light-gray;

  @media @mobile {
    display: block;
  }
}

.info {
  padding-top: 20px;

  @media @mobile {
    padding-left: 10px;
  }
}

.images {
  .display-flex();
  justify-content: center;
  padding-bottom: 20px;
  text-align: center;
  padding-top: 10px;

  @media @mobile {
    margin-right: 10px;
  }

  .location-container {
    .display-flex();
    align-items: center;
    padding: 20px;
    font-size: 30px;
    @media @mobile {
      padding: 10px;
      font-size: 25px;
    }
    .location {
      width: 40px;
    }
  }

  img:hover {
      opacity: 0.7;
      filter: alpha(opacity=40);
  }

  img {
      opacity: 1.0;
      filter: alpha(opacity=100);
  }

  .home:hover, .away:hover {
    font-weight: bold;
  }

  .away, .home{
    width: 110px;
  }
}

.predictions {
  display: none;

  .decision {
    margin-left: 10px;
  }

  .clear-pick {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
  }

  .show-predictions & {
    display: block;
    background: #ffffff;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 20px;
    box-shadow:
      0 20px 25px 0 fade(black, 30%),
      0 6px 8px -4px fade(black, 10%);
    border: 1px solid @df-light-gray;
  }

  .experts {
    .display-flex();
    justify-content: flex-start;

    @media @mobile {
      flex-wrap: wrap;
    }

    .experts-box {
      // background-color: @df-middle-gray;
      // : none;
      padding: 5px 16px;
      color: black;
      margin-bottom: 7px;
      margin-right: 5px;
      text-decoration: none;
      display: inline-block;
      text-align: center;
      font-size: 14px;
      height: 40px;
      -radius: 4px;

      @media @mobile {
        padding-right:0px;
        margin-right: 2px;
      }
    }
  }
}

.user-pick {
  height: 40px;
}

.info {
  font-size: 23px;
  width: 210px;

  @media @mobile {
    width: auto;
  }
}

.tooltip {
  display: block;
  height: 400px;
  width: 400px;
  position: sticky; top: 50px;
  font-family: 'Paytone One', sans-serif;
  color:black;

  @media @tablet {
    width: 100%
  }

  h1 {
    text-align: left;

    @media @mobile {
      font-size: 30px;
    }
  }

  .content {
    @media @tablet {
      text-align: center;
    }
  }

  .summary {
    padding-left: 10px;
    font-size: 23px;
  }
  .experts.button {
    background-color: @wsu-crimson;
    cursor: pointer;
    padding: 5px 16px;
    color: @df-off-white;
    margin-bottom: 7px;
    margin-right: 5px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    font-size: 19px;
    height: 40px;
    border-radius: 4px;
    margin-left: 10px;
    margin-top: 10px;
  }

  .hidden.predictions {
    display: block;
    margin-left: 10px;

    .show-record & {
      display: block;
    }
  }
}

.row {
  background: @df-off-white;
  margin-bottom: 40px;
}
